.numberInput{
    display:flex;
    flex: 1;
    color:#000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text{
    color:#555;
    font-size: 1.5rem;
}

.value{
    color:#555;
    font-size: 6rem;
}